---
import { BASE } from "@/constants";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Buscemi Revenga!</title>
        <style>
            canvas {
                border: 1px solid black;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <canvas id="gameCanvas" data-basedir={BASE}></canvas>
        <script>
            import { Boss } from "./Boss";
            import { GameCanvasContext as GameCanvasHelper } from "./GameCanvasHelper";
            import { Pipe } from "./Pipe";
            import { Bird } from "./Bird";
            import { Laser } from "./Laser";

            document.addEventListener("DOMContentLoaded", () => {
                const $canvas = document.getElementById(
                    "gameCanvas"
                ) as HTMLCanvasElement;
                const BASE_DIR = $canvas.dataset.basedir;
                const GAME_STATE = {
                    INIT: "Initial state",
                    PLAYING: "Game in progress",
                    FIGHT: "Fighting Buscemi",
                    LOST: "Lost",
                    WIN: "Win",
                };

                // Game variables
                let bird: Bird,
                    pipes: Pipe[],
                    boss: Boss,
                    lasers: Laser[],
                    score: number;
                let gameLoop: number;
                let lastFrameTime = 0;
                let gameState = GAME_STATE.INIT;

                const SCORE_TO_BOSS = 1;

                const backgroundMusic = new Audio(
                    `${BASE_DIR}/img/game/muffled-party-music.mp3`
                );
                backgroundMusic.loop = true;
                const bossMusic = new Audio(
                    `${BASE_DIR}/img/game/boss-music.mp3`
                );
                bossMusic.loop = true;
                const laserMusic = new Audio(
                    `${BASE_DIR}/img/game/retro-laser.mp3`
                );
                const toastySound = new Audio(
                    `${BASE_DIR}/img/game/toasty.mp3`
                );
                // Load images
                const backgroundImg = new Image();
                backgroundImg.src = `${BASE_DIR}/img/game/background-night.png`;
                const birdImg = new Image();
                birdImg.src = `${BASE_DIR}/img/game/bird-midflap.png`;
                const pipeImg = new Image();
                pipeImg.src = `${BASE_DIR}/img/game/pipe-top.png`;
                const pipeBottomImg = new Image();
                pipeBottomImg.src = `${BASE_DIR}/img/game/pipe-bottom.png`;
                const bossImg = new Image();
                bossImg.src = `${BASE_DIR}/img/game/buscemi.png`;

                const canvasHelper = new GameCanvasHelper($canvas);

                function resizeCanvas() {
                    canvasHelper.resizeCanvas();
                    draw();
                }

                // Game initialization
                function init() {
                    // removeStartGameListeners(); TODO

                    bird = new Bird(canvasHelper, birdImg);
                    pipes = [];
                    lasers = [];
                    score = 0;
                    boss = null;
                    lastFrameTime = performance.now();
                    gameState = GAME_STATE.PLAYING;

                    // Handle input for both keyboard and touch events
                    function handleInput(e: KeyboardEvent) {
                        e.preventDefault();

                        bird.jump();

                        if (boss) {
                            laserMusic.play();
                            lasers.push(bird.shoot());
                        }
                    }

                    // Event listener for keyboard (desktop)
                    document.addEventListener("keydown", (e) => {
                        if (e.code === "Space") {
                            handleInput(e);
                        }
                    });

                    // Event listener for touch (mobile)
                    $canvas.addEventListener("touchstart", handleInput);
                    $canvas.addEventListener(
                        "touchmove",
                        (e) => e.preventDefault(),
                        { passive: false }
                    );
                }

                // Game update function
                function update(timestamp: number) {
                    const deltaTime = (timestamp - lastFrameTime) / 1000; // Time in seconds
                    lastFrameTime = timestamp;

                    bird.update(deltaTime);

                    // Update pipes
                    if (
                        score < SCORE_TO_BOSS &&
                        (pipes.length == 0 ||
                            pipes[pipes.length - 1].x <= $canvas.width / 2)
                    ) {
                        pipes.push(new Pipe(canvasHelper, pipeImg));
                    }
                    pipes.forEach((pipe: Pipe, index: number) => {
                        pipe.update(deltaTime);
                        if (pipe.x + pipe.width < 0) {
                            pipes.splice(index, 1);
                            score++;
                        }

                        if (
                            bird.x < pipe.x + pipe.width &&
                            bird.x + bird.width > pipe.x &&
                            (bird.y < pipe.topY ||
                                bird.y + bird.height > pipe.bottomY)
                        ) {
                            gameState = GAME_STATE.LOST;
                            stopGame();
                        }
                    });

                    // Boss fight
                    if (score >= SCORE_TO_BOSS && !boss) {
                        boss = new Boss(canvasHelper, bossImg);
                        boss.reset();
                        gameState = GAME_STATE.FIGHT;
                    }
                    if (boss) {
                        backgroundMusic.pause();
                        bossMusic.play();
                        boss.update(deltaTime);

                        // Update and draw lasers
                        lasers.forEach((laser: Laser, index: number) => {
                            laser.update(deltaTime);
                            if (laser.x > canvasHelper.width) {
                                lasers.splice(index, 1);
                            }

                            // Check for collision with boss
                            if (
                                laser.x < boss.x + boss.width &&
                                laser.x + laser.width > boss.x &&
                                laser.y < boss.y + boss.height &&
                                laser.y + laser.height > boss.y
                            ) {
                                boss.health -= laser.damage;
                                lasers.splice(index, 1);
                            }
                        });

                        // Check if the bounding boxes of the bird and boss overlap
                        if (
                            bird.x < boss.x + boss.width &&
                            bird.x + bird.width > boss.x &&
                            bird.y < boss.y + boss.height &&
                            bird.y + bird.height > boss.y
                        ) {
                            stopGame();
                            gameState = GAME_STATE.LOST;
                        }

                        // Check if boss is defeated
                        if (boss.health <= 0) {
                            stopGame();
                            gameState = GAME_STATE.WIN;
                        }
                    }

                    // Check for  game over
                    if (bird.y + bird.height > $canvas.height || bird.y < 0) {
                        stopGame();
                        gameState = GAME_STATE.LOST;
                    }
                    draw();

                    // Request next frame
                    if (gameLoop) {
                        requestAnimationFrame(update);
                    }
                }

                function draw() {
                    canvasHelper.clear();
                    canvasHelper.drawImage(
                        backgroundImg,
                        0,
                        0,
                        $canvas.width,
                        $canvas.height
                    );
                    switch (gameState) {
                        case GAME_STATE.INIT:
                            drawInitialScreen();
                            break;
                        case GAME_STATE.PLAYING:
                            drawBasicGame();
                            break;
                        case GAME_STATE.FIGHT:
                            drawBasicGame();
                            drawFightElements();
                            break;
                        case GAME_STATE.WIN:
                            drawBasicGame();
                            drawFightElements();
                            drawGameOverScreen(true);
                            break;
                        case GAME_STATE.LOST:
                            drawBasicGame();
                            drawFightElements();
                            drawGameOverScreen(false);
                            break;
                    }
                }

                function drawFightElements() {
                    boss?.draw();
                    lasers?.forEach((l) => l.draw());
                    if (boss) {
                        canvasHelper.ctx.textAlign = "end";
                        canvasHelper.ctx.fillStyle = "black";
                        canvasHelper.ctx.fillText(
                            `Health: ${boss.health}`,
                            $canvas.width - 10,
                            30
                        );
                    }
                }

                function drawBasicGame() {
                    pipes?.forEach((p) => p.draw());
                    bird?.draw();

                    canvasHelper.ctx.fillStyle = "black";
                    canvasHelper.ctx.font = "24px Arial";
                    canvasHelper.ctx.textAlign = "start";
                    canvasHelper.ctx.fillText(`Score: ${score}`, 10, 30);
                }

                function stopGame() {
                    backgroundMusic.pause();
                    bossMusic.pause();
                    gameLoop = null;
                }

                function startGame() {
                    if (!gameLoop) {
                        init();
                        gameLoop = requestAnimationFrame(update);
                        backgroundMusic.play();
                    }
                }

                function drawInitialScreen() {
                    const ctx2d = canvasHelper.ctx;
                    ctx2d.fillStyle = "black";
                    ctx2d.font = "48px Arial";
                    ctx2d.textAlign = "center";
                    ctx2d.fillText(
                        "Buscemi Revenga!",
                        canvasHelper.width / 2,
                        canvasHelper.height / 2
                    );
                    ctx2d.font = "24px Arial";
                    ctx2d.fillText(
                        "Tap or Press Space to start",
                        canvasHelper.width / 2,
                        canvasHelper.height / 2 + 40
                    );
                }

                function drawGameOverScreen(victory: boolean) {
                    const ctx2d = canvasHelper.ctx;
                    ctx2d.fillStyle = "black";
                    ctx2d.textAlign = "center";
                    ctx2d.font = "48px Arial";
                    ctx2d.fillText(
                        victory ? "You Win!" : "Game Over!",
                        $canvas.width / 2,
                        $canvas.height / 2
                    );
                    ctx2d.font = "24px Arial";
                    ctx2d.fillText(
                        "Tap or press Space to restart",
                        $canvas.width / 2,
                        $canvas.height / 2 + 40
                    );
                }

                // Start by showing initial screen
                resizeCanvas();
                window.addEventListener("resize", resizeCanvas);

                backgroundImg.onload = () => {
                    const ctx2d = canvasHelper.ctx;
                    ctx2d.drawImage(
                        backgroundImg,
                        0,
                        0,
                        $canvas.width,
                        $canvas.height
                    );
                    drawInitialScreen();
                };

                // Event listener for starting the game
                function startGameFromKeyListener(e) {
                    if (e.code === "Space") {
                        startGame();
                    }
                }
                function startGameFromTouchListener() {
                    startGame();
                }
                addStartGameListeners();

                function addStartGameListeners() {
                    document.addEventListener(
                        "keydown",
                        startGameFromKeyListener
                    );
                    document.addEventListener(
                        "touchstart",
                        startGameFromTouchListener
                    );
                }

                function removeStartGameListeners() {
                    document.removeEventListener(
                        "keydown",
                        startGameFromKeyListener
                    );
                    document.removeEventListener(
                        "touchstart",
                        startGameFromTouchListener
                    );
                }
            });
        </script>
    </body>
</html>
