---
import Layout from "../layouts/Layout.astro";
import Concert from "../components/Concert.astro";

const CONCERTS = [
    {
        date: "2024-06-22",
        place: "Le Bidule",
        city: "Lille",
        bands: ["Los locos de Paris"],
    },
    {
        date: "2024-04-18",
        place: "La Griffe",
        city: "Lille",
        bands: ["Misskeen", "Fire Life"],
    },
    {
        date: "2024-04-07",
        place: "Tattoo Hippie Club",
        city: "Dunkerque",
        bands: ["Misskeen"],
    },
    {
        date: "2024-03-15",
        place: "Le Bidule",
        city: "Lille",
        bands: ["Misskeen"],
    },
    {
        date: "2024-01-27",
        place: "Amul Solo",
        city: "Lille",
        bands: ["Kenmujo"],
    },
    {
        date: "2023-10-28",
        place: "Arena Bar",
        city: "Lille",
        bands: ["Misskeen"],
    },
    {
        date: "2023-10-14",
        place: "Amul Solo",
        city: "Lille",
        bands: ["Sea Horse Shoe"],
    },
    {
        date: "2023-07-06",
        place: "Centre Culturel Libertaire",
        city: "Lille",
        bands: ["Slowkiss", "Eastern Trade"],
    },
    {
        date: "2023-06-16",
        place: "Le Distrot",
        city: "Lille",
    },
    {
        date: "2023-06-11",
        place: "Yeti Bar",
        city: "Lille",
        bands: ["Stuck In Yesterday"],
        source: "https://www.facebook.com/events/1909633439414041/",
    },
    {
        date: "2022-10-14",
        place: "Centre Culturel Libertaire",
        city: "Lille",
        bands: ["Slowkiss", "Wired"],
        source: "https://www.facebook.com/events/654583165880514/",
    },
    {
        date: "2022-09-16",
        place: "Le plateau du Fresnoy",
        city: "Tourcoing",
        bands: ["Glory holes & the geniters", "Les vielles bites"],
        source: "https://www.facebook.com/events/485848579712410/",
    },
].toSorted((c1, c2) => {
    const d1 = parseInt(c1.date.replace(/-/g, ""));
    const d2 = parseInt(c2.date.replace(/-/g, ""));
    return d2 - d1; // Sorted by date DESC
});

const NOW = new Date();
const FUTURE_CONCERTS = CONCERTS.filter(
    ({ date }) => new Date(Date.parse(date)) > NOW
);
const HAS_FUTURE_CONCERTS = FUTURE_CONCERTS.length;

const PAST_CONCERTS = CONCERTS.filter(
    ({ date }) => new Date(Date.parse(date)) < NOW
);


const DATE_FORMATTER = new Intl.DateTimeFormat("fr-FR", {
    dateStyle: "short",
    timeZone: "Europe/Paris",
});
const FULL_DATE_FORMATTER = new Intl.DateTimeFormat("fr-FR", {
    dateStyle: "full",
    timeZone: "Europe/Paris",
});
---

<Layout title="Concerts">
    {
        HAS_FUTURE_CONCERTS && (
            <h1 class="mt-8 font-bold md:text-3xl text-2xl text-center">
                {"⚡️ FUTURE CONCERTS ⚡️"}
            </h1>
        )
    }
    {
        HAS_FUTURE_CONCERTS &&
            FUTURE_CONCERTS.map(({ date, place, city, bands, source }) => (
                <div class="mt-8 md:mt-12">
                    <Concert
                        highlightSize={true}
                        formattedDate={FULL_DATE_FORMATTER.format(Date.parse(date))}
                        place={place}
                        city={city}
                        bands={bands}
                    />
                </div>
            ))
    }
    {
        HAS_FUTURE_CONCERTS && <div class="mb-24"></div>
    }

    <h1 class="mb-8 font-bold md:text-3xl text-2xl">{"// PAST CONCERTS"}</h1>
    {
        PAST_CONCERTS.map(({ date, place, city, bands, source }) => (
            <div class="mb-4">
                <Concert
                    formattedDate={DATE_FORMATTER.format(Date.parse(date))}
                    place={place}
                    city={city}
                    bands={bands}
                />
            </div>
        ))
    }
</Layout>
