---
import { BASE } from "@/constants";
const LINKS = [
    {
        name: "Bandcamp",
        icon: "bandcamp.svg",
        url: "https://cabrochicoband.bandcamp.com",
    },
    {
        name: "Spotify",
        icon: "spotify.svg",
        url: "https://open.spotify.com/artist/7nb8e3l6zhqbINYKQnjhuO",
    },
    {
        name: "Apple Music",
        icon: "applemusic.svg",
        url: "https://music.apple.com/fr/artist/cabrochico/1556888403",
    },
    {
        name: "Youtube",
        icon: "youtube.svg",
        url: "https://www.youtube.com/channel/UCIxmuVKCdXoAXUfK_OmyBSQ",
    },
    {
        name: "Instagram",
        icon: "instagram.svg",
        url: "https://www.instagram.com/cabrochicoband",
    },
    {
        name: "Facebook",
        icon: "facebook.svg",
        url: "https://www.facebook.com/cabrochicoband",
    },
];
---

<nav class="social-links-nav flex m-auto p-4 w-fit">
    {
        LINKS.map(({ name, icon, url }) => (
            <a href={url} target="_blank">
                <img src={`${BASE}/img/network/${icon}`} alt={`Logo de ${name}`} title={name} />
            </a>
        ))
    }
</nav>

<style>
    a {
        min-width: 48px;
        padding: 8px;
    }
    a > img {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
            brightness(118%) contrast(119%);
    }
</style>
